.hl-divider {
  display: flex;
  width: 100%;
  margin-top: 20px;
  position: relative;

  .divider-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10px;
  }

  .divider-line {
    border-top: 1px solid #dcdfe6;
    height: 0;
    flex: 1;
  }

  .divider-line-duan {
    width: 20px;
    flex: none;
  }
}
