.hl-input {
  .close {
    display: flex;
    padding-right: 4px;
    color: #c0c4cc;
  }

  .input {
    border: none;
    border-radius: 4px;
    width: 100%;
    min-height: 25px;
    background-color: transparent;
  }

  .input::placeholder {
    color: #c8c9cc;
  }

  .suffix {
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
  }

  .van-cell {
    padding: 0;
  }

  .van-cell:after {
    border: 0;
  }

  .van-field__value {
    margin-top: 0 !important;
  }
}
