.hl-van-nav-bar > .van-nav-bar {
  background-color: var(--van-primary-color);
  width: 100%;

  .van-nav-bar__content {
    .van-nav-bar__arrow,
    .van-nav-bar__text {
      color: white;
    }
  }

  .van-nav-bar__text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    -webkit-line-clamp: 1;
  }
}

.hl-top-empty {
  width: 100vw;
  display: block;
}
